:root {
    --un-blue: #1F69B3;
    --un-light-blue: #3D95C6;
    --un-turquoise: #46B29D;
    --un-pale-blue: #BAC5D1;
    --un-royal-blue: #5472AE;
    --un-light-pink: #C25B56;
    --un-light-brown: #9E6B51;
    --un-pale-green: #7D9840;
    --un-bright-green: #00A651;
    --un-light-yellow: #FFE035;
    --un-magenta: #9A2865;
    --un-dark-red: #AF1D21;
    --un-orange: #F8842E;
    --un-brown: #5B3427;
    --un-dark-green: #006535;
    --un-purple: #682F86;
    --un-grey: #666666;
  }
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}
body{
    background-color: rgb(243, 243, 243);
    overflow-x:hidden ;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:0px 50px;
   border-bottom: 5px solid rgb(66, 158, 243);
   height: 40px;
}
.welcome{
    display: flex;
    gap:10px;
    font-weight: 300;
    font-size: 15px;
}
.languages{
    display: flex;
    font-weight: 300;
    list-style: none;
    gap:10px;
    font-size: 15px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
}
nav img{
    width:20%;
}
.intro{
    color:rgb(70, 62, 62);
    /* font-size: 40px; */
    width: 30%;
    border-left: 1px solid;
    padding-left: 20px;
}
.live_now{
    border:1px solid red;
    padding: 8px 20px;
    border-radius: 5px;
}
form{
    display: flex;
    justify-content: start;
    width: 26%;
}
form input{
    width: 85%;
    height: 33px;
    padding-left: 10px;
    border:1px solid rgb(206, 198, 198);
    background-color: transparent;
    outline: none;
}
form button{
    width: 15%;
    position: relative;
    left: -3px;
    border: 1px solid rgb(7, 127, 197);
}
.nav2{
    background-color: rgb(77, 72, 72);
    color: white;
    width: 94%;
    margin: auto;
}
.nav2 ul{
    display: flex;
    gap: 20px;
    list-style: none;
}
.nav2 ul li{
    border-right:1px solid white;
    padding:5px;
    font-weight: 300;
    font-size: .9rem;
}

.hero{
    display: flex;
    width: 94%;
    margin:10px auto;
    gap:10px;
}
.hero img{
    width:65%
}
.hero_par{
    margin-bottom:10px;
    font-size: .9rem;
}
.hero_intro{
    color: rgb(100, 97, 97);
    font-size: 2rem;
    line-height: 1.7rem;
    margin-bottom:15px;
}
.hr{
    border:3px solid  rgb(7, 127, 197);
    width:40%;
    margin-bottom: 20px;
}
.hero_text{
    color:rgb(82, 79, 79);
}
.hero_footer{
    position: absolute;
    bottom: 10px;
    color:rgb(82, 79, 79);
}
.last{
    border-left: 5px solid gray;
    margin: 10px 0px;
    padding-left: 10px;
}

.about_us{
    display: flex;
    width: 94%;
    margin:25px auto;
    gap:10px;
}
.img_1{
    width: 55%;
}
.img_1 img{
    width: 100%;
}
.img_1 h2{
    color: rgb(100, 97, 97);
    font-size: 1.5rem;
    line-height: 1.7rem;
    margin-bottom:15px;
}
.section_2{
    width: 45%;
}
.img_2{
    display: flex;
    gap:3%;
}
.img_2 img{
    width: 60%;
    height:30vh;
}
.img_desc{
    width: 40%;;
}
.second{
    margin-top: 50px;
}
.img_desc p{
    font-size: .9rem;
}
.img_desc h2{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

/* Apply styles to the hr element */
.un-colors-hr {
    box-shadow: 1px 1px 10px gray;
    border: none;
    height: 7px;
    margin-top: 80px;
    margin-bottom: 80px;
    background: linear-gradient(to right,
      var(--un-blue) 5%,
      var(--un-light-blue) 5% 15%,
      var(--un-turquoise) 10% 15%,
      var(--un-pale-blue) 15% 20%,
      var(--un-royal-blue) 20% 25%,
      var(--un-light-pink) 25% 30%,
      var(--un-light-brown) 30% 35%,
      var(--un-pale-green) 35% 40%,
      var(--un-bright-green) 40% 45%,
      var(--un-light-yellow) 45% 50%,
      var(--un-magenta) 50% 55%,
      var(--un-dark-red) 55% 60%,
      var(--un-orange) 60% 68%,
      var(--un-brown) 68% 80%,
      var(--un-dark-green) 70% 75%,
      var(--un-purple) 75% 80%,
      var(--un-light-yellow) 80% 90%,
      var(--un-bright-green) 90% 100%);
  }
  .sustainabilty{
    height: 300px;
    background-color: rgb(108, 173, 173);
    width: 100%;
    padding: 20px;
    /* padding-bottom: 80px; */
  }

.sustainability h1{
    text-align: center;
}
.sus_hr{
    border:3px solid  rgb(7, 127, 197);
    width:40%;
    margin-bottom: 20px;
    margin:10px auto;
}
.circle{
    display: block;
    margin:10px auto;
    width: 10%;
}
.sustainability .intro_text{
    text-align: center;
    width: 50%;
    display: block;
    margin:10px auto;
}

.goals{
    display: flex;
    width: 90%;
    margin:22px auto;
    gap:2%;
}
.card{
    width: 24%;
    padding: 0px 5px 10px 5px;
}
.card img{
    width: 100%;
}
.card_body h4{
    font-weight: 600;
    margin:10px 0px;
}
.card_body p{
    font-size: .9rem;
}
.sus_btn{
    width: 40%;
    margin: auto;
    display: block;
    height: 33px;
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 20px;
    color: rgb(83, 72, 72);
}

.section{
    margin: 80px auto;
    padding: 40px 5%;
    display: flex;
    gap: 7%;
    width: 100%;
    background-color:rgb(206, 226, 233);
}
.work{
    width: 55%;
}
.work_intro{
    font-size: 3rem;
    color: rgb(59, 55, 55);
}
.work p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 300;
}
.work ul{
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: 300;
}
.section img{
    width: 45%;
}

/* Learn More */
.learn_more{
    width: 100%;
}
.learn_more h1{
    text-align: center;
    font-size: 2.2rem;
    color: #504b4b;
}
.learn{
    margin:10px auto;
    width: 15%;
}